* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    background-color: #cccccc;
}

.sidebar {
    width: 170px;
    background-color: #ececec;
    padding: 20px;
    height: 180vh;
    margin-left: 10px;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.profile_name {
    color: red;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 20px 0;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

nav ul li a i {
    margin-right: 10px;
}

.form-container {
    flex: 1;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid blue;
    padding-bottom: 10px;
}

header h1 {
    font-size: 24px;
}

.update-btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form {
    margin-top: 20px;
}

fieldset {
    border: 2px solid #cccccc;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
    color: #007bff;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-row input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.fields {
    display: flex !important;
    flex-direction: column;
    width: 100%;
    margin-right: 25px;
}

label {
    margin-bottom: .5rem;

}

iframe {
    border: none;
    height: 155vh;
    width: 150px;
}